.formWrapper {
  width: 360px;
  height: 360px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  /* justify-content: center; */
  /* padding: 30px; */
}
.formWrapper * {
  /* flex:1 1;
    height: 40px; */
  height: 40px;
}
.formWrapper span {
  color: red;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
