.heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.planning p{
    font-size: 14px;
    color: #4B4B4B;
    font-weight: 600;
    margin: 0px;
}
.planning h2{
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    margin: 0px;
}
.heading button{
    color: #000000;
    background-color: #ffffff;
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #C2C2C2;
    font-size: 14px;
    cursor: pointer;
}
.heading button:hover{
    color: #ffffff;
    background-color: #0057D9;
    border: 0px;
}

@media (max-width:800px){
    .planning h2{
        font-size: 40px;
    }
    .heading button{
        padding: 4px 10px;
        font-size: 8px;
    }
}