.cardsContent{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
   
}
.country img{
    border-radius: 15px;
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info h2,h3,h4{
    margin: 0px;
}
.info h2{
    font-weight: 800;
}
.info h3{
    font-weight: 600;
}
.info h4{
    color: #C2C2C2;
}
@media (max-width:1200px){
    .cardsContent{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .country{
        flex-grow: 1;
    }
}